@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Inria Serif", serif;
}

#bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #000;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: clamp(20px, 5vw, 64px);
    background-image: linear-gradient(to right, #FF0084, black);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-container__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img-container__item img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 16px;
}

.hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 192, 203, 0.8);
    color: rgb(255, 247, 247);
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
}

.img-container__item:hover img {
    transform: translateY(-40px);
    border-radius: 16px;
}

.img-container__item:hover .hover-text {
    opacity: 1;
    transform: translateY(0);
}


.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;

    h2, span {
        background-image: linear-gradient(to right, #000000, #D400FF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: clamp(20px, 3vw, 40px);
        position: relative;
    }

    span::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 5px;
        background: linear-gradient(to right, #000000, #D400FF);
    }
}